<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="testng.TestngAnnotationDemo"/>
      <class name="testng.Testcase1"/>
      <class name="testng.LOgintesting"/>
      <class name="testng.Dashboardpageslink"/>
      <class name="testng.Dashboard"/>
      <class name="testng.Dashboard1"/>
      <class name="testng.DATAprovider"/>
      <class name="testng.Userpage"/>
      <class name="testng.Dataproviderwidselenium"/>
      <class name="testng.TESTcase2"/>
      <class name="testng.Testcase3"/>
      <class name="testng.Testcase4"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
